/* 
  Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900');


$mainFont: 'Lato', sans-serif;


/* 

  Colors

 */

$shade1: #F4EFF0;
$shade2: #D88F76;
$shade3: #DE2F3B22;
$shade4: #9C837E;
$shade5: #1C1F2C;
 