@import './PageContent/index.scss';
@import './settings.scss';


body {
  padding: 0;
  font-family: $mainFont;
  

  .bodyContain.day_man {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f0f0+0,ede9e9+40,e6dede+100 */
background: rgb(244,240,240); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(244,240,240,1) 0%, rgba(237,233,233,1) 40%, rgba(230,222,222,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(244,240,240,1) 0%,rgba(237,233,233,1) 40%,rgba(230,222,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(244,240,240,1) 0%,rgba(237,233,233,1) 40%,rgba(230,222,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f0f0', endColorstr='#e6dede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   


  padding: 0;

    color: $shade5 !important;

    svg {
      fill: $shade5;
    }


    #galleryPageContainer {
      color: $shade5 !important;
    }


    .projectsPageContainer {

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c8c4c5+0,aaa6a6+40,7e7878+100 */
background: rgb(200,196,197); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(200,196,197,1) 0%, rgba(170,166,166,1) 40%, rgba(126,120,120,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(200,196,197,1) 0%,rgba(170,166,166,1) 40%,rgba(126,120,120,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(200,196,197,1) 0%,rgba(170,166,166,1) 40%,rgba(126,120,120,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c4c5', endColorstr='#7e7878',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    }
        .projectSwitchButton {
          border-bottom: 3px solid $shade5;
        }
    .projectSwitchButton.active_project {
      background: $shade5;
      color: $shade1;
    }
    .projectSwitchButton.not_active {
      background: $shade1;
      color: $shade5;
    }

    .projectSwitchContainers a {

      .movableName {
        background: $shade4;
        color: $shade1;
      }

      &:nth-child(2n+2) {
        .movableName {
          background: $shade7;


        }
      }
      &:nth-child(3n) {
        .movableName {
          background: $shade5;


        }
      }

    }

  }
    .bodyContain.night_man {
      padding: 0;
    background: $shade5;
    color: $shade1 !important;
    *, hr {
      border-color: $shade1 !important;
    }
    svg {
      fill: $shade1;
    }



    .titleSocialLinkContainer::after {
      border-color: $shade1 !important;
    }
    .projectsPageContainer {
      background: #1B1D20 !important;
    }
    .projectSwitchButton {
          border-bottom: 3px solid $shade1;
        }
    .projectSwitchButton.active_project {
      background: $shade1;
      color: $shade5;
    }
    .projectSwitchButton.not_active {
      background: $shade5;
      color: $shade1;
    }

    .projectSwitchContainers a {

      .movableName {
        background: $shade4;
        color: $shade1;
      }

      &:nth-child(2n) {
        .movableName {
          background: $shade5;


        }
      }

    }

  }


}


@media (min-width: 990px) {
  .bodyContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
/*   .bodyContainerItem {
    max-width: 760px;
    } */

    .titleOuterContainer {
      max-width: 1000px;
      height: 85vh;
    }
  }
}