@import './PageContent/index.scss';
@import './settings.scss';


body {
  padding: 0;
  font-family: $mainFont;
  

  .bodyContain.day_man {

    background: $shade1;
    color: $shade5 !important;

    svg {
      fill: $shade5;
    }
        .projectSwitchButton {
          border-bottom: 3px solid $shade5;
        }
    .projectSwitchButton.active_project {
      background: $shade5;
      color: $shade1;
    }
    .projectSwitchButton.not_active {
      background: $shade1;
      color: $shade5;
    }

    .projectSwitchContainers a {

      .movableName {
        background: $shade4;
        color: $shade1;
      }

      &:nth-child(2n+2) {
        .movableName {
          background: $shade7;


        }
      }
      &:nth-child(3n) {
        .movableName {
          background: $shade5;


        }
      }

    }

  }
    .bodyContain.night_man {
      padding: 0;
    background: $shade5;
    color: $shade1 !important;
    *, hr {
      border-color: $shade1 !important;
    }
    svg {
      fill: $shade1;
    }



    .titleSocialLinkContainer::after {
      border-color: $shade1 !important;
    }
    .projectsPageContainer {
      background: #1B1D20 !important;
    }
    .projectSwitchButton {
          border-bottom: 3px solid $shade1;
        }
    .projectSwitchButton.active_project {
      background: $shade1;
      color: $shade5;
    }
    .projectSwitchButton.not_active {
      background: $shade5;
      color: $shade1;
    }

    .projectSwitchContainers a {

      .movableName {
        background: $shade4;
        color: $shade1;
      }

      &:nth-child(2n) {
        .movableName {
          background: $shade5;


        }
      }

    }

  }


}


@media (min-width: 990px) {
  .bodyContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
/*   .bodyContainerItem {
    max-width: 760px;
    } */

    .titleOuterContainer {
      max-width: 1000px;
      height: 85vh;
    }
  }
}