@import '../settings.scss';




.titleOuterContainer {
  padding: 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;


  .titleName {

    padding: 0;
    font-size: 2em;
    .titleNameDiv {
      border-bottom: 5px solid black;
      font-weight: 100;
      margin-bottom: 5px;
    }

    #titleNameDiv_1 {
      float: right ;
    }
  }
  .titleContent {
    margin-top: 10%;
    height: 75%;

    .titleContentText {

      font-size: 1.3em;
      margin-bottom: 2%;
      p {

        b {
          font-size: 1.5em;
          margin-left: 10px;
          font-weight: 100;
        }
      }
      p:last-of-type {
        width: 68%;

      }

      hr {
        border: 1px solid black !important;
        margin: 10px 0 -10px; 

      }
    }


    .titleSocialLinkContainer {

      height: 15%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .socialLinks {

        padding: 1%; 
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1%;


        svg {
          width: 100%;
          height: 100%;
        }

        &:hover {
          background: black;
          fill: white;
        }
      }


      &::after {
        margin-top: 5%;
        content: '';
        width: 60%;
        border-bottom: 5px solid black;
      }


    }
  }
}


@media (min-width: 500px) {

  .titleOuterContainer {

    .titleName {
      font-size: 3em;
    }
    .titleContent {
      .titleContentText {
        font-size: 1.8em;
      }
    }
    .titleSocialLinkContainer { 

      .socialLinks {
        width: 10% !important;
      }
    }
  }
}


@media (min-width: 990px) {
  .titleOuterContainer {

    .titleName {
      display: flex;
      flex-direction: column;
      margin-left: -15%;
     #titleNameDiv_0 {
        width: 35%;
      }
      #titleNameDiv_1 {
        width: 45%;
        padding-left: 10%;
        float: none;
      }


    }


    .titleContentText {
      width: 50%;




    }
    .titleSocialLinkContainer {
      width: 20%;
      float: right;
      margin-top: 35%;
      .socialLinks {
        width: 40% !important;
      }
    }

  }
}